<div class="contenido">
    <div>
        <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <img src="image/casino2.jpg">
                  <span class="card-title">Apuesta Mortal</span>
                </div>
                <div class="card-content">
                  <p>Apuesta todo tu dinero y cuando no tengas nada empeña tu casa</p>
                </div>

              </div>
            </div>
        
          <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="image/casino1.jpg">
                <span class="card-title">Préstamos</span>
              </div>
              <div class="card-content">
                <p>Negocía con la mafia rusa préstamos para pagar tus deudas.</p>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card">
              <div class="card-image">
                <img src="image/casino3.jpg">
                <span class="card-title">Ruleta</span>
              </div>
              <div class="card-content">
                <p>Apuesta a las casillas rojas, negras o a una casilla especial para duplicar tu inversión.</p>
              </div>
            </div>
          </div>
        </div>
      </div>        

  

<script>
    
    $(document).ready(function(){
      $('.slider').slider();
    });
    
</script>